@import "tailwindcss";

:root {
    --background: var(--color-neutral-900);
    --foreground: var(--color-neutral-0);
}

@theme inline {
    --color-background: var(--color-neutral-900);
    --color-foreground: var(--color-neutral-200);

    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);

    --color-neutral-900: hsl(243, 96%, 9%);
    --color-neutral-800: hsl(243, 27%, 20%);
    --color-neutral-700: hsl(243, 23%, 24%);
    --color-neutral-600: hsl(243, 23%, 30%);
    --color-neutral-300: hsl(240, 6%, 70%);
    --color-neutral-200: hsl(250, 6%, 84%);
    --color-neutral-0: hsl(0, 0%, 100%);

    --color-orange-500: hsl(28, 100%, 52%);

    --color-blue-500: hsl(233, 67%, 56%);
    --color-blue-700: hsl(248, 70%, 36%);
}
/* 
@media (prefers-color-scheme: dark) {
    :root {
        --background: var(--color-neutral-900);
        --foreground: var(--color-neutral-0);
    }
} */

body {
    background: var(--background);
    color: var(--foreground);
    font-family: 'DM Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Bricolage Grotesque', sans-serif;
}
